/*Overall layout*/
html {
    background-color: #1b130e;
}

body {
    display: grid;
    grid-template-rows: 128.7px auto 360px;
    padding: 2px;
}

header {
    background-color: #4d3626;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid black;
    color: #c09a7f;
 }

main {
    background-color: #c09a7f;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid black;
}

footer {
    background-color: #4d3626;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    border: 2px solid black;
    color: #c09a7f;
    display: flex;
    flex-direction: column;
}


/*Header layout*/
nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "grid-left grid-right";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c09a7f;
 }

nav a {
    display: flex;
    color: #c09a7f;
    text-decoration: none;
    align-items: center;
 }

nav > div {
    display: flex;
    flex-direction: row; 
 }

a > img {
    width: 100px;
 }

#grid-right {
    grid-area: grid-right;
    align-items: center;
    justify-content: space-evenly;
 }

#grid-right a:hover {
    color: white;
    text-decoration: none;
 }

#grid-left {
    grid-area: grid-left;
    justify-content: left;
    align-items: center;
 }

#float {
    position: fixed;
    top: 0px;
    left: 8px;
    width: 95.2vw;
    height: 94px;
    background-color: #4d3626;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid black;
    color: #c09a7f;
}

/*Footer layout*/
address {
    display: flex;
    gap: 10px;
}

address p {
    width: 150px;
    color: #c09a7f;

}

.foot-title, .contact {
    text-decoration: underline;
}

.phone {
    color: #c09a7f;
    text-decoration: none;
}

 /*Main body layouts*/
main.cafe {
    background-image: url("../images/cafe-interior.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 5px;
    border: 2px solid black;
 }

.backdrop {
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
 }

#home-intro, main p {
    margin: 5%;
}

#line1 {
    font-size: 24px;
    font-style: italic;
}

.header-element {
    font-size: 60px;
    font-style: italic;
    text-align: center;
}

.title {
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 10px;
}

.menu-category {
    padding: 20px;
    margin-bottom: 60px;
}

.menu-item {
    border: 2px solid #1b130e;
    border-radius: 5px;
    background-color: #4d3626;
    color: #c09a7f; 
}

.descrip {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 8px;
}

.flavor {
    font-style: italic;
}

.item-name {
    padding: 8px;
    font-size: 30px;
    text-align: center;
}

.menu-item img {
    display: flex;
    width: 150px;
    justify-content: center;
    margin: auto;
}

#event-container {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
}

#event-container h1 {
    grid-column: span 2;
    text-align: center;
}

@font-face {
    font-family: 'DnD';
    src: url('../CSS/BreatheFireIii-PKLOB.ttf') format('truetype');
}

.DnD-font {
    font-family: 'DnD';
}

#DnD {
    background-image: url("../images/DandD.jpg");
    background-size: cover;
    background-position: center;
    
}

#murder-mystery {
    background-image: url("../images/murder_mystery.jpg");
    background-size: cover;
    background-position: center;
    
}

.event-descript {
    display: inline-block;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
}

.event-title {
    font-size: 50px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.container {
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.about {
    font-size: 20px;
    border-bottom: 2px solid black;
}

form {
    padding: 10px;
    display: flex;
    margin: 10px;
}

fieldset {
    width: 40vw;
}

label {
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

input[type=text], input[type=email] {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #4d3626;
    color: #EAEFEF;
    width: 150px;
    height: 40px;
    justify-content: end;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #f8d678;
}

#form-flex {
    display: flex;
    flex-direction: row;
}

#form-flex > label {
    margin-bottom: 5px;
}

.star::before {
    color: red;
    content: "*";