#event-container {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
}

#event-container h1 {
    grid-column: span 2;
    text-align: center;
}

@font-face {
    font-family: 'DnD';
    src: url('/src/assets/fonts/BreatheFireIii-PKLOB.ttf') format('truetype');
}

.DnD-font {
    font-family: 'DnD';
}

#DnD {
    background-image: url("assets/images/DandD.jpg");
    background-size: cover;
    background-position: center;
    
}

#murder-mystery {
    background-image: url("/assets/images/murder_mystery.jpg");
    background-size: cover;
    background-position: center;
    
}

.event-descript {
    display: inline-block;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
}

.event-title {
    font-size: 50px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
}