<main>
    <div id="event-container">
        <h1>Events Coming Soon!</h1>
        <section class="container" id="DnD" [style.background-image]="'url(images/DandD.jpg)'">
            <h2 class="DnD-font event-title">Dungeons & Dragons</h2>
            <p class="event-descript">Join us every Tuesday at 6pm for the latest adventure!</p>
        </section>
        <section class="container" id="murder-mystery" [style.background-image]="'url(images/murder_mystery.jpg)'">
            <h1 class="event-title">Murder Mystery Night</h1>
            <p class="event-descript">Join us every Thursday at 7pm for a thrilling mystery!</p>
        </section>
    </div>
</main>
        