.cafe {
    background-image: url("images/cafe-interior.jpg");
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin-top: 2rem;
    border-radius: 5px;
    border: 2px solid black;
    height: 55vh;
    min-height: 300px;
}

#line1 {
    font-size: 24px;
    font-style: italic;
}

.backdrop {
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    height: 70%;
    min-height: 250px;
}

#home-intro, #line1 {
    margin: 5%;
}
